/*设置页面*/
*{
    margin: 0;
    padding: 0;
    font-family: 思源黑体 CN;
}
/*设置header*/
#header{
    width: 100%;
    height: 290px;
    border: 0;
    position: absolute;
    top: 0;
}
    #up{
        width: 90.67%;
        height: 96.55%;
        position: absolute;
        left: 4.8%;
        top: 0;
        z-index: 1;
        border: 0;
        border-radius: 10px;
        background-image: url("/static/img/矩形1.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
        #cover{
            width: 100%;
            height: 100%;
            background-color: rgba(41,122,255,0.1);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            border: 0;
            border-radius: 10px;
        }
            #cover_welcome{
                width: 30%;
                height: 28.57%;
                background-color: rgba(0,0,0,0);
                position: absolute;
                left: 9.41%;
                top: 16.36%;
                text-align: left;
                z-index: 0;
                border: 0;
                color: white;
                letter-spacing: 2px;
                line-height: 40px;
            }
                #cover_welcome_one{
                    font-size: 22px;
                    font-weight: 300;
                }
                #cover_welcome_two{
                    font-size: 30px;
                    font-weight: 700;
                }
        #cover_data{
            width: 16.47%;
            height: 15.36%;
            background-color: rgba(0,0,0,0);
            position: absolute;
            left: 73.82%;
            top: 17.86%;
            z-index: 0;
            border: 0;
            text-align: right;
            color: white;
            font-size: 16px;
            line-height: 26px;
        }
            #date_one{letter-spacing: 4px;font-weight: 500;}
            #date_two{letter-spacing: 2px;font-weight: 300;}
        #cover_understand{
            width: 100%;
            height: 28.57%;
            background: linear-gradient(rgba(52,93,253,0), rgba(255,255,255,0.6));
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
            #understand{
                width: 52.94%;
                height: 37.5%;
                background-color: rgba(0,0,0,0);
                position: absolute;
                left: 9.41%;
                top: 37.5%;
                border:solid 1px white;
                border-radius: 15px;
                text-align: center;
                line-height: 27px;
                letter-spacing: 6px;
                font-size: 16px;
                font-weight: normal;
                color:white;
            }
    #down{
        width: 85.33%;
        height: 100%;
        background-color: #297AFF;
        position: absolute;
        left: 7.47%;
        top: 0;
        z-index: -1;
        border: 0;
        border-radius: 10px;
    }
/*设置main*/
#main{
    width: 100%;
    height: 287px;
    position: absolute;
    top: 290px;
}
    #yunding{
        width: 77.34%;
        height: 19.51%;
        background-image: url("/static/img/yunding.png");
        background-repeat: repeat;
        position: absolute;
        left: 43px;
        top: 12px;
        z-index: 400;
    }
    #line_one{
        width: 100%;
        height:41.81%;
        border: 0;
        position: absolute;
        top:16.38%;
        left:0;
    }
        #sign_up{
            width: 40%;
            height:83.4%;
            background-image: url("/static/img/主页按钮.svg");
            background-repeat: no-repeat;
            position: absolute;
            top:0;
            left:7.47%;
            border: 0;
            border-radius: 10px;
        }
            .a{
                width: 86.7%;
                height: 80%;
                background-color: rgba(0,0,0,0);
                position: absolute;
                top: 10%;
                left: 6.67%;
                border:0;
            }
        #modify_information{
            width: 40%;
            height:83.4%;
            background-image: url("/static/img/主页按钮2.svg");
            background-repeat: no-repeat;
            position: absolute;
            top:0;
            left:52.8%;
            border: 0;
            border-radius: 10px;
        }
    #line_two{
        width: 100%;
        height:41.81%;
        border: 0;
        position: absolute;
        bottom: 3.52%;
        left:0;
    }
        #arrangement{
            width: 40%;
            height:83.4%;
            background-image: url("/static/img/主页按钮3.svg");
            background-repeat: no-repeat;
            position: absolute;
            top:0;
            left:7.47%;
            border: 0;
            border-radius: 10px;
        }
            #arrange{outline:none;
            z-index: 200}
        #interview_result{
            width: 40%;
            height:83.4%;
            background-image: url("/static/img/主页按钮4.svg");
            background-repeat: no-repeat;
            position: absolute;
            top:0;
            left:52.8%;
            border: 0;
            border-radius: 10px;
        }
/*设置footer*/
#footer{
    width: 100%;
    height: 93px;
    position: absolute;
    top: 574px;
}
    #logo{
        width: 32.67%;
        height: 28.14%;
        position: absolute;
        top: 27.96%;
        left: 33.6%;
        background-image: url("/static/img/组 11.png");
        background-repeat: no-repeat;
    }